@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*BREAKPOINTS*/

body {
  background-color: white;
  display: grid;
  height: 100svh;
  

  // Recorre el mapa $grid-columns
  @each $breakpoint, $columns in $grid-columns { // $breakpoint es la clave y $colums es el valor dentro de mapa $grid-colums
    // Genera una medida query  con 
    @include respond-to($breakpoint) {
      grid-template-columns: $columns; // Define cuántas columnas tendrá tu grilla y de que tamaños serán.
    }
  } 
}

.container {
  // background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column: 2 / 3;
  padding: 16px 0;
  width: 100%;
  overflow-x: hidden;

  &__top {
    // background-color: red;
    min-height: 80px;
  }

  &__middle {
    // background-color: pink;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // height: 100%; 
    
    
    &-square {
      // background-color: red;
      width: 100%;
      aspect-ratio: 1 / 1;
      padding: 0 18px;
    } 
  }

  &__bottom {
    // background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }
}

.texts {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}