@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*BREAKPOINTS*/

body {
  background-color: white;
  display: grid;
  height: 100svh;
  place-items: center;
  

  // Recorre el mapa $grid-columns
  @each $breakpoint, $columns in $grid-columns { // $breakpoint es la clave y $colums es el valor dentro de mapa $grid-colums
    // Genera una medida query  con 
    @include respond-to($breakpoint) {
      grid-template-columns: $columns; // Define cuántas columnas tendrá tu grilla y de que tamaños serán.
    }
  } 
}

.container {
  background-color: yellowgreen;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 16px;background-color: hotpink;  flex: 1;  overflow-y: auto;  display: flex;                  // Activa flexbox  align-items: center;           // Centra verticalmente  justify-content: center;       // Centra horizontalmente
  padding: 16px 0;
  height: 100svh;
  width: 100%;


  &__top {
    background-color: darkblue;
    position: sticky;
    top: 0;
    // min-height: 80px;
  }

  &__middle {
    background-color: pink;
    flex: 1;
    overflow-y: auto;

    display: flex;                  // Activa flexbox
    align-items: center;           // Centra verticalmente
    justify-content: center;   
   
    &-square {
      background-color: red;
      width: 100%;
      // max-width: 370px;            // (opcional) limita el ancho
      aspect-ratio: 1 / 1;
    } 
  }

  &__bottom {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    position: sticky;
    bottom: 0px;
  }
}

// .texts {
//   display: flex;
//   margin-top: 20px;
//   flex-direction: column;
//   align-items: center;
// }

.prueba {
  background-color: gold;
  width: 100%;
}