
.card-style__img-fresh-f1 {background-image: url('../assets/images/colors/fresh-colors-1.png');}
.card-style__img-fresh-f2 {background-image: url('../assets/images/colors/fresh-colors-2.png');}
.card-style__img-fresh-f3 {background-image: url('../assets/images/colors/fresh-colors-3.png');}
.card-style__img-fresh-f4 {background-image: url('../assets/images/colors/fresh-colors-4.png');}
.card-style__img-fresh-f5 {background-image: url('../assets/images/colors/fresh-colors-5.png');}
.card-style__img-fresh-f6 {background-image: url('../assets/images/colors/fresh-colors-6.png');}

.card-style__img-industrial-i1 {background-image: url('../assets/images/colors/industrial-colors-1.png');}
.card-style__img-industrial-i2 {background-image: url('../assets/images/colors/industrial-colors-2.png');}
.card-style__img-industrial-i3 {background-image: url('../assets/images/colors/industrial-colors-3.png');}
.card-style__img-industrial-i4 {background-image: url('../assets/images/colors/industrial-colors-4.png');}
.card-style__img-industrial-i5 {background-image: url('../assets/images/colors/industrial-colors-5.png');}
.card-style__img-industrial-i6 {background-image: url('../assets/images/colors/industrial-colors-6.png');}

.card-style__img-tropical-t1 {background-image: url('../assets/images/colors/tropical-colors-1.png');}
.card-style__img-tropical-t2 {background-image: url('../assets/images/colors/tropical-colors-2.png');}
.card-style__img-tropical-t3 {background-image: url('../assets/images/colors/tropical-colors-3.png');}
.card-style__img-tropical-t4 {background-image: url('../assets/images/colors/tropical-colors-4.png');}
.card-style__img-tropical-t5 {background-image: url('../assets/images/colors/tropical-colors-5.png');}
.card-style__img-tropical-t6 {background-image: url('../assets/images/colors/tropical-colors-6.png');}