


.header-texts {
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-intro {
  background-image: url('../assets/images/intro/moodboard-intro.png');
  background-size: cover;
  width: 100%;
  aspect-ratio: 457 / 641.63;
}