



.resumen {
  // background-color: red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  height: auto; // importante. el grid crecerá según las tarjetas
  width: 100%;


  &__card-estilos {
    background-image: "";
    background-size: cover;    
    aspect-ratio: 387 / 470;
  }

  &__card-colores {
   aspect-ratio: 387 / 470;
  }

   &__card-materiales {
   aspect-ratio: 387 / 470;
  }

   &__card-mobiliario {
   aspect-ratio: 387 / 470;
  }

}

