
.card-style {
  border-radius: 16px;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);


  &--img-f1 {background-image: url('../assets/images/colors/prueba.png')}
  &--img-f2 {background-image: url('../assets/images/colors/fresh-colors-2.png')}
  &--img-f3 {background-image: url('../assets/images/colors/fresh-colors-3.png')}
  &--img-f4 {background-image: url('../assets/images/colors/fresh-colors-4.png')}
  &--img-f5 {background-image: url('../assets/images/colors/fresh-colors-5.png')}
  &--img-f6 {background-image: url('../assets/images/colors/fresh-colors-6.png')}

}

