

// Modificadores visuales
.card-style__img--s1 {background-image: url('../assets/images/styles/fresh-style.webp');}
.card-style__img--s2 {background-image: url('../assets/images/styles/tropical-style.webp');}
.card-style__img--s3 {background-image: url('../assets/images/styles/industrial-style.webp');}

