// Bloque principal
.card-style {
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
}

// Modificadores visuales
.card-style__img--s1 {background-image: url('../assets/images/styles/fresh-style.png');}
.card-style__img--s2 {background-image: url('../assets/images/styles/tropical-style.png');}
.card-style__img--s3 {background-image: url('../assets/images/styles/industrial-style.png');}


