@charset "UTF-8";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  align-items: center;
  display: flex; /* 👈 esto es obligatorio si usas width en los slides */
}

.swiper-slide {
  background: #444;
  width: 74% !important;
  height: 90% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  bottom: 20% !important;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  margin: 0 6px; /* 👈 separa los puntos */
  transition: opacity 0.3s;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  transform: scale(1.3);
  background-color: #ffcc00;
}

.step-counter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.step-counter__text {
  font-weight: 700;
  color: rgb(15, 77, 72) !important;
}
.step-counter__bars {
  background-color: aliceblue;
  display: flex;
  gap: 8px;
}
.step-counter__bars > .step-counter__bar {
  background-color: rgb(245, 249, 249);
  border: 2px solid rgb(220, 229, 229);
  border-radius: 4px;
  height: 8px;
  width: 25%;
}
.step-counter__bars > .step-counter__bar--active {
  background-color: rgb(15, 77, 72);
  border: none;
}
.step-counter__back {
  height: 48px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: rgb(15, 77, 72);
}
.step-counter--inactive {
  display: none;
}

#buttons-container {
  display: flex;
  gap: 16px;
  width: 100%;
}

.next {
  background-color: rgb(15, 77, 72);
  color: white;
  height: 48px;
  width: 100%;
  border-radius: 16px;
}

.button-reset {
  color: rgb(15, 77, 72);
  border-radius: 16px;
  width: 50%;
  border: 1px solid rgb(15, 77, 72);
  font-weight: 700;
}

.card-style {
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  border: 1px solid rgb(245, 249, 249);
}

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Tipografía utilitaria*/
.text-1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-2 {
  font-size: 2rem;
  line-height: 1.25;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-3 {
  font-size: 1.75rem;
  line-height: 1.3;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-4 {
  font-size: 1.5rem;
  line-height: 1.35;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-5 {
  font-size: 1.25rem;
  line-height: 1.4;
  color: rgb(90, 115, 113);
  font-weight: 500;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(90, 115, 113);
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.55;
  color: rgb(90, 115, 113);
  font-weight: 300;
}

.text-tiny {
  font-size: 0.75rem;
  line-height: 1.6;
  color: rgb(90, 115, 113);
  font-weight: 300;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/*BREAKPOINTS*/
body {
  background-color: white;
  display: grid;
  height: 100svh;
  place-items: center;
}
@media (min-width: 0px) {
  body {
    grid-template-columns: 16px 1fr 16px;
  }
}
@media (min-width: 600px) {
  body {
    grid-template-columns: 1fr 509px 1fr;
  }
}

.container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  padding: 8px 0;
  height: 100svh;
  width: 100%;
}
.container__top {
  position: sticky;
  top: 0;
}
.container__middle {
  flex: 1;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__middle-square {
  width: 100%;
  aspect-ratio: 1/1;
}
.container__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: sticky;
  bottom: 0px;
}

.prueba {
  background-color: gold;
  width: 100%;
}

.header-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-intro {
  background-image: url("../assets/images/intro/moodboard-intro.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 457/641.63;
}

.card-style__img--s1 {
  background-image: url("../assets/images/styles/fresh-style.png");
}

.card-style__img--s2 {
  background-image: url("../assets/images/styles/tropical-style.png");
}

.card-style__img--s3 {
  background-image: url("../assets/images/styles/industrial-style.png");
}

.card-colors__img-fresh-f1 {
  background-image: url("../assets/images/colors/fresh-colors-1.png");
}

.card-colors__img-fresh-f2 {
  background-image: url("../assets/images/colors/fresh-colors-2.png");
}

.card-colors__img-fresh-f3 {
  background-image: url("../assets/images/colors/fresh-colors-3.png");
}

.card-colors__img-fresh-f4 {
  background-image: url("../assets/images/colors/fresh-colors-4.png");
}

.card-colors__img-fresh-f5 {
  background-image: url("../assets/images/colors/fresh-colors-5.png");
}

.card-colors__img-fresh-f6 {
  background-image: url("../assets/images/colors/fresh-colors-6.png");
}

.card-colors__img-industrial-i1 {
  background-image: url("../assets/images/colors/industrial-colors-1.png");
}

.card-colors__img-industrial-i2 {
  background-image: url("../assets/images/colors/industrial-colors-2.png");
}

.card-colors__img-industrial-i3 {
  background-image: url("../assets/images/colors/industrial-colors-3.png");
}

.card-colors__img-industrial-i4 {
  background-image: url("../assets/images/colors/industrial-colors-4.png");
}

.card-colors__img-industrial-i5 {
  background-image: url("../assets/images/colors/industrial-colors-5.png");
}

.card-colors__img-industrial-i6 {
  background-image: url("../assets/images/colors/industrial-colors-6.png");
}

.card-colors__img-tropical-t1 {
  background-image: url("../assets/images/colors/tropical-colors-1.png");
}

.card-colors__img-tropical-t2 {
  background-image: url("../assets/images/colors/tropical-colors-2.png");
}

.card-colors__img-tropical-t3 {
  background-image: url("../assets/images/colors/tropical-colors-3.png");
}

.card-colors__img-tropical-t4 {
  background-image: url("../assets/images/colors/tropical-colors-4.png");
}

.card-colors__img-tropical-t5 {
  background-image: url("../assets/images/colors/tropical-colors-5.png");
}

.card-colors__img-tropical-t6 {
  background-image: url("../assets/images/colors/tropical-colors-6.png");
}

.card-materials__img-fresh-f1 {
  background-image: url("../assets/images/materials/fresh-materials-1.png");
}

.card-materials__img-fresh-f2 {
  background-image: url("../assets/images/materials/fresh-materials-2.png");
}

.card-materials__img-fresh-f3 {
  background-image: url("../assets/images/materials/fresh-materials-3.png");
}

.card-materials__img-industrial-i1 {
  background-image: url("../assets/images/materials/industrial-materials-1.png");
}

.card-materials__img-industrial-i2 {
  background-image: url("../assets/images/materials/industrial-materials-2.png");
}

.card-materials__img-industrial-i3 {
  background-image: url("../assets/images/materials/industrial-materials-3.png");
}

.card-materials__img-tropical-t1 {
  background-image: url("../assets/images/materials/tropical-materials-1.png");
}

.card-materials__img-tropical-t2 {
  background-image: url("../assets/images/materials/tropical-materials-2.png");
}

.card-materials__img-tropical-t3 {
  background-image: url("../assets/images/materials/tropical-materials-3.png");
}

.card-furniture__img-fresh-f1 {
  background-image: url("../assets/images/furniture/fresh-furniture-1.png");
}

.card-furniture__img-fresh-f2 {
  background-image: url("../assets/images/furniture/fresh-furniture-2.png");
}

.card-furniture__img-fresh-f3 {
  background-image: url("../assets/images/furniture/fresh-furniture-3.png");
}

.card-furniture__img-industrial-i1 {
  background-image: url("../assets/images/furniture/industrial-furniture-1.png");
}

.card-furniture__img-industrial-i2 {
  background-image: url("../assets/images/furniture/industrial-furniture-2.png");
}

.card-furniture__img-industrial-i3 {
  background-image: url("../assets/images/furniture/industrial-furniture-3.png");
}

.card-furniture__img-tropical-t1 {
  background-image: url("../assets/images/furniture/tropical-furniture-1.png");
}

.card-furniture__img-tropical-t2 {
  background-image: url("../assets/images/furniture/tropical-furniture-2.png");
}

.card-furniture__img-tropical-t3 {
  background-image: url("../assets/images/furniture/tropical-furniture-3.png");
}

.resumen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  height: auto;
  width: 100%;
}
.resumen__card-estilos {
  background-image: "";
  background-size: cover;
  aspect-ratio: 387/470;
}
.resumen__card-colores {
  aspect-ratio: 387/470;
}
.resumen__card-materiales {
  aspect-ratio: 387/470;
}
.resumen__card-mobiliario {
  aspect-ratio: 387/470;
}

.moodboard {
  background-color: white;
  width: 100%;
  aspect-ratio: 556/803;
  display: flex;
  position: relative;
}
.moodboard__color-0 {
  background-color: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 76%;
  z-index: 0;
}
.moodboard__color-1 {
  background-color: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  box-shadow: 16px 0 15px -4px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.moodboard__styles {
  background-image: url("../assets/images/moodboard/moodboard-fresh-styles.webp");
  background-size: cover;
  width: 80%;
  aspect-ratio: 171.2/554.2;
  margin-top: 10%;
}
.moodboard__color-2 {
  background-color: "";
  width: 60%;
  height: 24%;
  box-shadow: 0 12px 10px -4px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.moodboard__color-3 {
  background-color: "";
  width: 51%;
  height: 49%;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: -10px -10px 18px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.moodboard__furniture {
  background-image: url("../assets/images/moodboard/moodboard-furniture-fresh-1.webp");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.moodboard__material {
  position: absolute;
  width: 55%;
  aspect-ratio: 311/233.19;
  background-image: url("../assets/images/moodboard/moodboard-fresh-materials-1.webp");
  background-size: cover;
  bottom: 17%;
  left: 45%;
  z-index: 3;
}

@media (min-width: 600px) {
  body {
    align-items: center;
  }
  .container {
    background-color: white;
    max-height: 910px;
  }
}/*# sourceMappingURL=main.css.map */