@charset "UTF-8";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  align-items: center;
  display: flex; /* 👈 esto es obligatorio si usas width en los slides */
}

.swiper-slide {
  background: #444;
  width: 74.115% !important;
  height: 90% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  border-radius: 20px;
}

.swiper-pagination {
  position: absolute;
  bottom: 16% !important;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.6;
  margin: 0 6px; /* 👈 separa los puntos */
  transition: opacity 0.3s;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  transform: scale(1.3);
  background-color: #ffcc00;
}

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Tipografía utilitaria*/
.text-1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-2 {
  font-size: 2rem;
  line-height: 1.25;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-3 {
  font-size: 1.75rem;
  line-height: 1.3;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-4 {
  font-size: 1.5rem;
  line-height: 1.35;
  color: rgb(4, 38, 35);
  font-weight: 700;
}

.text-5 {
  font-size: 1.25rem;
  line-height: 1.4;
  color: rgb(90, 115, 113);
  font-weight: 500;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(90, 115, 113);
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.55;
  color: rgb(90, 115, 113);
  font-weight: 300;
}

.text-tiny {
  font-size: 0.75rem;
  line-height: 1.6;
  color: rgb(90, 115, 113);
  font-weight: 300;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/*BREAKPOINTS*/
body {
  background-color: rgb(245, 245, 245);
  display: grid;
  height: 100svh;
}
@media (min-width: 0px) {
  body {
    grid-template-columns: 16px 1fr 16px;
  }
}
@media (min-width: 600px) {
  body {
    grid-template-columns: 1fr 509px 1fr;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column: 2/3;
  padding: 16px 0;
  width: 100%;
  overflow-x: hidden;
}
.container__top {
  min-height: 80px;
}
.container__middle {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container__middle-square {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 0 18px;
}
.container__bottom {
  display: flex;
  justify-content: center;
}

.texts {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.step-indicator {
  display: flex;
  flex-direction: column;
}
.step-indicator__title {
  color: rgb(15, 77, 72);
  font-weight: 700;
}
.step-indicator__bars {
  margin-top: 8px;
  display: flex;
  gap: 6px;
}
.step-indicator__bar {
  background-color: rgb(245, 249, 249);
  width: 100%;
  justify-content: space-between;
  border: 2px solid rgb(220, 229, 229);
  height: 6px;
  border-radius: 3px;
}
.step-indicator__bar--active {
  background-color: rgb(15, 77, 72);
  border: none;
}
.step-indicator__back {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: rgb(15, 77, 72);
  gap: 4px;
}

.card-style {
  border-radius: 16px;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card-style--img-f1 {
  background-image: url("../assets/images/colors/fresh-colors-1.png");
}
.card-style--img-f2 {
  background-image: url("../assets/images/colors/fresh-colors-2.png");
}
.card-style--img-f3 {
  background-image: url("../assets/images/colors/fresh-colors-3.png");
}
.card-style--img-f4 {
  background-image: url("../assets/images/colors/fresh-colors-4.png");
}
.card-style--img-f5 {
  background-image: url("../assets/images/colors/fresh-colors-5.png");
}
.card-style--img-f6 {
  background-image: url("../assets/images/colors/fresh-colors-6.png");
}/*# sourceMappingURL=main.css.map */