//abstracts
@use 'abstracts/variables' as *;


// Components
@use 'components/slider' as *;
@use 'components/step-counter' as *;
@use 'components/buttons' as *;
@use 'components/cards' as *;


// base
@use 'base/reset' as *;
@use 'base/typography' as *;

// Layout
@use 'layout/structure' as *;
@use 'layout/step-indicator' as *;


// steps
@use 'steps/intro' as *;
@use 'steps/styles' as *;
@use 'steps/colors' as *;
@use 'steps/materials' as *;
@use 'steps/intro' as *;
@use 'steps/furniture' as *;
@use 'steps/resumen' as *;
@use 'steps/moodboard' as *;



@media (min-width: 600px) {

  body {
    // background-color: rgba(245, 245, 245, 1);
    align-items: center;
  }

  .container {
    background-color: white;
    max-height: 910px;
  }

  

}